.address-container {
    height: .8rem;
    .address-top {
        position: fixed;
        z-index: 9;
        height: .8rem;
        width: 100%;
        left: 0;
        top: 0;
        background: $default-bg;
        text-align: center;
        line-height: .8rem;
        color: #FFFFFF;
    }
}

.announce {
    position: relative;
    margin: .1rem 0;
    box-shadow: 0 0 .12rem rgba(117, 117, 117, .2);
    .cup-acc {
        position: fixed;
        margin-left: .6rem;
        margin-top: -.45rem;
        z-index: 99;
        .cup {
            position: absolute;
            z-index: 99;
            top: -.3rem;
            left: 50%;
            transform: translateX(-50%);
            width: .6rem;
        }
        .circle {
            position: relative;
            width: 1rem;
            height: 1rem;
            padding-top: .58rem;
            overflow: hidden;
            border-radius: 50%;
            background: rgba(247, 190, 54, .2);
            box-shadow: 0 0 .12rem .05rem rgba(247, 190, 54, .6);
            em {
                position: absolute;
                display: block;
                background: #f7be36;
                width: 100%;
                left: 0;
                z-index: 98;
            }
        }
        .num {
            z-index: 99;
            position: sticky;
            font-size: .26rem;
            text-align: center;
        }
    }
    p {
        margin-left: 1.9rem;
        font-size: .26rem;
        line-height: .7rem;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -.3rem;
    padding-bottom: 1.2rem;
    .product-item {
        width: 3.4rem;
        height: 1.9rem;
        margin-bottom: .3rem;
        border-radius: .24rem;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 .12rem rgba(117, 117, 117, .2);
        .img {
            width: 1.36rem;
            height: 1.9rem;
            flex-shrink: 0;
            border-radius: .24rem;
            overflow: hidden;
        }
        .intro {
            width: 1.9rem;
            h2 {
                font-size: .26rem;
                line-height: .8rem;
            }
            .price {
                color: $orange;
            }
            .num {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: .8rem;
            }
            span {
                width: .6rem;
                text-align: center;
                img {
                    width: .15rem;
                    height: .33rem;
                }
            }
            .sub {
                transform: rotateZ(180deg);
            }
            .disable {
                opacity: .5;
            }
        }
    }
}

.button-buy,
.goto-buy {
    position: fixed;
    bottom: .4rem;
    right: .4rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    background: #333;
    box-shadow: 0 0 .2rem rgba(51, 51, 51, 1);
    color: #FFFFFF;
    font-size: .32rem;
    text-align: center;
    i {
        position: absolute;
        right: -.05rem;
        top: -.05rem;
        background: $orange;
        width: .3rem;
        height: .3rem;
        line-height: .3rem;
        text-align: center;
        border-radius: 50%;
        font-size: .2rem;
        color: #FFFFFF;
    }
}

.goto-buy {
    right: auto;
    left: .4rem;
    background: #333;
    box-shadow: 0 0 .2rem rgba(51, 51, 51, 1);
    //  background: #f7be36;
    //  box-shadow: 0 0 .2rem rgba(247, 190, 54, 1);
}

.address {
    .address-list {
        padding: .2rem 0;
        margin-bottom: -.2rem;
        .item {
            position: relative;
            width: 100%;
            height: 2.8rem;
            margin-bottom: .2rem;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 .15rem rgba(117, 117, 117, .5);
            overflow: hidden;
            .tag-con {
                position: absolute;
                left: .3rem;
                top: 0;
                img {
                    width: .46rem;
                    height: .67rem;
                }
            }
          .img {
                         //              width: 4.23rem;
                         width: 100%;
                         height: 2.8rem;
                         text-align: right;
            .cafe {
                                width: 4.23rem;
                                position: absolute;
                                left: 0;
                                top: 0;
                                z-index: 1;
                            }
                            .bg {
                                position: relative;
                                z-index: 2;
                                width: 4rem;
                            }
                     }
            .intro {
                position:absolute;
                z-index: 99;
                right: 0;
                top: 0;
                width: 4rem;
                height: 2.8rem;
                color: #FFFFFF;
                text-align: right;
                padding: .2rem .2rem .2rem .8rem;
                h2 {
                    font-size: .32rem;
                    line-height: .6rem;
                }
                p {
                    font-size: .2rem;
                    line-height: .34rem;
                }
                .price {
                    margin-top: .3rem;
                    color: $orange;
                    span {
                        font-size: .4rem;
                    }
                    i {
                        font-size: .2rem;
                    }
                }
            }
        }
    }
}

.scan-enter {
    position: fixed;
    bottom: .4rem;
    left: .4rem;
    background: #FFFFFF;
    border-radius: 50%;
    width: .9rem;
    height: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -.1rem .1rem .12rem rgba(117, 117, 117, .4);
    img {
        width: .48rem;
        height: .48rem;
    }
}
