.message {
    background: #FFFFFF;
    .line {
        display: block;
        width: 1px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background: rgba(64, 64, 64, .3);
    }
}

.message-list {
    width: 100%;
    //  height: 100vh;
    //  overflow: scroll;
    padding: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding-bottom: .3rem;
    li {
        z-index: 9;
        position: absolute;
        left: .3rem;
        top: .3rem;
        width: 3.1rem;
        padding: .2rem;
        background: $black-bg;
        box-shadow: 0 0 .2rem .04rem rgba(117, 117, 117, .4);
        color: #FFFFFF;
        align-self: flex-start;
        &:before {
            content: '';
            position: absolute;
            border: .1rem solid transparent;
            border-left-color: $black-bg;
            right: -.2rem;
            top: .35rem;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: .21rem;
            height: .21rem;
            background: $orange;
            border-radius: 50%;
            box-shadow: 0 0 .2rem .05rem rgba(255, 182, 76, .2);
            right: -.45rem;
            top: .35rem;
        }
        &:nth-child(2n) {
            left: auto;
            right: .3rem;
            &:before {
                right: auto;
                left: -.2rem;
                border-left-color: transparent;
                border-right-color: $black-bg;
            }
            &:after {
                right: auto;
                left: -.45rem;
            }
        }
        &:nth-child(2) {
            top: 1.6rem;
            left: auto;
            right: .3rem;
        }
        &:nth-child(4n-1),
        &:nth-child(4n) {
            background: $orange;
        }
        &:nth-child(4n-1):before {
            border-left-color: $orange;
        }
        &:nth-child(4n):before {
            border-left-color: transparent;
            border-right-color: $orange;
            right: auto;
            left: -.2rem;
        }
        &:last-child {
            margin-bottom: .3rem;
        }
        h2 {
            line-height: .4rem;
        }
        &>div {
            font-size: .24rem;
        }
        p {
            margin-top: .1rem;
            font-size: .24rem;
            word-wrap: break-word;
        }
    }
}