body {
    .vux-slider>.vux-indicator>a>.vux-icon-dot.active,
    .vux-slider .vux-indicator-right>a>.vux-icon-dot.active {
        background-color: #333;
    }
    .weui-tabbar__icon {
        width: 1.2rem;
        height: .7rem;
    }
    .weui-tabbar__item {
        padding-bottom: .14rem;
        padding-top: .13rem;
    }
    .weui-tabbar:before {
        display: none;
    }
    .weui-tabbar {
        box-shadow: 0 -.05rem .2rem rgba(117, 117, 117, .2);
    }
    .vux-popup-dialog{
        background: #FFFFFF;
    }
}